@font-face{
	 font-family: ge-dinar-one-medium;
  src: url("ge-diner1/ge-dinar-one-medium.otf"); 
}

.site-logo {
    height: auto;

    display: block;
	margin-left: 20px;
  float: right;
  width:70%;
	
}

 .grid-container {
  display: grid;
  grid-template-columns: auto 100px ;
	border-bottom: 1px solid #0c8eca;
  background-color: #fff;
  padding: 10px;
}
 .grid-container > div{
	 font-family: ge-dinar-one-medium;
	 align-items:right;
	 color:#0c8eca;
	 text-align:right;

 }
 
 .line{height:1px; background-color:#4dafd4}
 
  .footer {
	  font-family: ge-dinar-one-medium;
	 font-size:15px;
	 text-align:center;
	 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-bottom: 20px;
    padding-top: 20px;
   border-top: 1px solid #0c8eca;
  
}
.footer>div{text-align:center; padding:10px; max-width:1140px; width:100%; margin:0 auto; text-decoration: none;}


.vertical-menu {
		  font-family: ge-dinar-one-medium;
float: right;
  width: 200px;
    height: 100%;
  text-align: right;
  padding-top: 25px;
  padding-right: 18px;

}

.vertical-menu a {
	  font-family: ge-dinar-one-medium;
  background-color: #0c8eca;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-style :solid ;
   border-width: 1px;
  border-color:white;
  color: white;

}

.vertical-menu a:hover {
font-family: ge-dinar-one-medium;
  background-color: #fff;
  color:#0c8eca;
  border-right: 4px solid #0c8eca;
  background-color: #fff;
}
.vertical-menu a.click{
	font-family: ge-dinar-one-medium;
  background-color: #fff;
  color:#0c8eca;
  border-right: 4px solid #0c8eca;
  border-top: 2px solid #0c8eca;
  background-color: #fff;
}

.vertical-menu a.active {
		  font-family: ge-dinar-one-medium;
border-right: 4px solid #0c8eca;
border-top: 3px solid #0c8eca;
  background-color: #fff;
  color:#0c8eca;
}

